body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
    
  #toolbar {
    text-align: center;
    margin-top: 10px;
  }
  
  #toolbar input[type="color"],
  #toolbar input[type="number"],
  #toolbar button {
    margin: 5px;
  }
  